.list {
  background: #ffffff;
}
.list__item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px;
  background: #ffffff;
  border: 1px solid #96b2b2;
  border-collapse: collapse;
}
.item__label {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  background: #ffffff;
}
.item__title {
  flex-grow: 1;
  padding: 5px;
  text-align: start;
  background: #ffffff;
  color: #96b2b2;
  cursor: pointer;
}
.item__selector {
  visibility: hidden;
}
.item__selector:checked ~ .item__title {
  color: #d81200;
}
