.panel {
  width: 47%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-collapse: collapse;
  overflow: auto;
}
.panel__list {
  background-color: #ffffff;
}
.message {
  text-align: center;
  background-color: white;
  padding: 10px 0;
}
